<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>ds_comment</name>
    <displayName><![CDATA[DS Comment Product]]></displayName>
    <version><![CDATA[1.0.1]]></version>
    <description><![CDATA[Simple module comment product.]]></description>
    <author><![CDATA[Damian]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>